body{
    margin : 0;
    padding : 0;
    font-family : Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5dc;
}

.content-wrapper{
    display:flex;
    width :900px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    border-radius:10px ;
    overflow: hidden;
}

.left-wrapper{
    flex:1;
    background: url('../pics/login.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.right-wrapper {
    flex: 1;
    background-color: #fff7e6; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    color: #8e44ad; /* Warm, inviting color for labels */
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    background-color: #f9eccc; /* Light warm input background */
    color: #2c3e50;
}

input:focus {
    outline: none;
    border-color: #e67e22; /* Highlight input border on focus */
}

button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #e67e22; /* Warm orange button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #d35400;
}

a {
    margin-top: 10px;
    color: #e67e22;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}