.navbar{
    display: flex;
    justify-content: space-between;
}
.left-wrapper
{
    padding-left:25px;
}
.right-wrapper{
    display: flex;
    justify-content: space-around;
   
    width:15%;
    padding-left:15px;
    padding-top:30px;
}
.login-button{
  
    width:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    font-size:20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #e67e22; 
    
}
.register-button{

    width:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    font-size:20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #e67e22;
}
.login-button:hover
{
    background-color: #d1912a;
    color:white;
}
.register-button:hover
{
    background-color: #d1912a;
    color:white;
}
.login-text:hover{
    color:white
}
.login-text
{
    
    text-decoration: none;
}
.register-text:hover{
    color:white
}
.register-text
{
    text-decoration: none;
}